<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= @doc[:name].upcase %>

      <% if @resource.present? %>
        <%= @resource[:version] %>
      <% end %>
    </li>

    <% if @resource.present? %>
      <li class="breadcrumb-item">
        <%= @resource[:name].upcase %>
      </li>
    <% end %>

    <% if @method.present? %>
      <li class="breadcrumb-item">
        <%= @method[:name].upcase %>
      </li>
    <% end %>
  </ol>
</nav>
